// Teacher
.container {
    margin: 10vh auto 0;
    width: 95%;
    height: 100%;
}

img {
    width: 100%;
}

#topNav p {
    display: flex;
    text-align: center;

    a {
        padding-bottom: 5px;
    }

    &.active a {
        color: #000;
        border-bottom: 3px solid #000;
    }
}

.teacherContent {
    width: 100%;
    display: grid;
}

#teacherDashboard {
    grid-column-gap: 50px;
    grid-template-columns: 1fr 1fr;
}

#teacherLists {
    width: 95%;

    #teacherDetails {
        width: 95%;
        margin: 0 auto;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr;

        i {
            font-size: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        p {
            font-size: 1.3rem;
        }
    }
}

#studentLists {
    #studentDetails {
        width: 95%;
        background: #ffebb7;

        .student {
            width: 90%;
            margin: 0 auto;
            padding: 20px auto;
            display: grid;
            grid-gap: 10px;
            grid-template-columns: 1fr 2fr;

            i {
                font-size: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

#teacherGames {
    margin: 10px auto;
    width: 100%;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(3, 1fr);

    .teacherGamesContent {
        position: relative;
        cursor: pointer;

        &:hover .teacherGame.teacherGame1 {
            transform: translateY(0px);
        }

        &:hover .teacherGame.teacherGame2 {
            background: #fff;
            display: flex;
            transform: translateY(0px);
        }

        &:hover .teacherGame.teacherGame1 .teacherGameContent {
            opacity: 1;
        }

        .teacherGame {
            transition: 0.5s;

            &.teacherGame1 {
                position: relative;
                background: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 1;
                transform: translateY(100px);

                .teacherGameContent {
                    transition: 0.5s;
                }

                .teacherGameContent h3 {
                    width: 70%;
                    margin: 10px auto;
                    border-bottom: 3px solid $fontColor;
                    padding: 0;
                    text-align: center;
                }
            }

            &.teacherGame2 {
                position: relative;
                justify-content: center;
                align-items: center;
                padding: 20px;
                box-sizing: border-box;
                box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
                transform: translateY(-100px);

                .teacherGameContent p {
                    margin: 0 auto 30px;
                    padding: 0;
                }
            }
        }
    }
}

.modalGameContent{
    margin: 0 auto;
    width: 90%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}

.modalGameStudents {
    width: 90%;
    margin: 0 auto;

    .modalGameStudent {
        padding: 20px auto;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr;

        i {
            font-size: 25px;
        }

        span{
            font-size: 1.4rem;
        }
    }
}