.mori{
    width: 100vw;
    height: 100vh;
    background: url('~/img/mori.png') 100% center;
    background-size: cover;
    font-size: 1.3rem;
    overflow: hidden;
    z-index: -100;
}
//layouts/app.blade.phpのCSS（使用しない）
// #app{
//   position: relative;
//   div.container{
//     background-color: #FFEBB7;
//     font-size: 1.5rem;
//     position: fixed;
//     top: 0;
//     left: 0;
//     height: 10vh;
//     width: 100vw;
//     z-index: 100;
//     .navbar-nav{
//         list-style-type: none;
//         padding: 0;
//         margin: 0;
//     }
// }
// }

//謎のボタンを消す
.navbar-toggler{
    display: none;
}

//layout/select.blade.php　ナビゲーションのCSS
#app{
    position: relative;
    .selectNav{
        position: absolute;
        top: 0;
        width: 100vw;
        ul{
            font-size: 2rem;
            list-style-type: none;
            padding: 0;
            margin: 5vh 0 0;
            li.logoutBtn{
                background-color: #FFB190;
                float: right;
                height: 80px;
                width: 6vw;
                margin: 0 1vw 0 0;
                padding: 0 10px 0;
                border-radius: 15px;
                display: flex;
                justify-content: center;
                align-items: center;
                a{
                    color: #fff;
                    text-decoration: none;
                }
            }
            li.recordBtn{
                background-color: #FFB190;
                color: #fff;
                float: right;
                height: 80px;
                width: 4vw;
                margin: 0 2vw 0 0;
                padding: 0 10px 0;
                border-radius: 15px;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    height: 70%;
                }
            }
        }
    }
}

//home.blade.php ゲーム選択のCSS

// ウサギの画像（ウサギのゲームに移る）
img.selectUsagi{
    position: absolute;
    width: 23vw;
    left: 12vw;
    bottom: 200px;
}

// クマの画像（クマのゲームに移る）
img.selectKuma{
    position: absolute;
    width: 23vw;
    left: 39vw;
    bottom: 200px;
}
// リスの画像（リスのゲームに移る）
img.selectRisu{
    position: absolute;
    width: 23vw;
    left: 66vw;
    bottom: 200px;
}
// layout.gameHeader.php ヘッダー部分
.gameHeaderContent{
    position: relative;
    z-index: 100;
    .gameHeader{
        background-color: #FFEBB7;
        height: 10vh;
        width: 100vw;
        position: fixed;
        top: 0;
        .usagiTitle{
            float: right;
            height: 75px;
            margin: 1.5vh 5vh 0;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .returnBtn{
            font-size: 2.5rem;
            background-color: #FFB190;
            color: #fff;
            width: 200px;
            height: 75px;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            float: left;
            margin: 1.5vh 2vh 0;
        }
        .moveBtn{
            font-size: 3rem;
            background-color: #FFB190;
            color: #fff;
            width: 200px;
            height: 75px;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            float: right;
            margin: 1.5vh 2vh 0;

        }
    }
}

// older.blade.php オーダー部分
.orderContent{
    position: relative;
    .order{
        height: 90vh;
        width: 30vw;
        margin: 0;
        position: fixed;
        left: 0;
        bottom: 0;
        background: #FFFDEF;
        z-index: 50;
        font-size: 2.5rem;
        overflow: hidden;
        .makeItem {
            height: 45vh;
            p.orderTitle{
                padding: 2vh 0;
                margin: 0;
                text-align: center;
                background-color: #FFB190;
                color: #fff;
            }
        }
        .selectItem{
            height: 45vh;
            p.orderTitle{
                padding: 2vh 0;
                margin: 0;
                text-align: center;
                background-color: #FFB190;
                color: #fff;
            }
        }
    }
}

// item.blade.php アイテム部分
.itemContent{
    position: relative;
    .itemList{
        height: 15vh;
        width: 70vw;
        position: fixed;
        bottom: 0;
        right: 0;
        background: #FFFDEF;
        z-index: 75;
        .itemMenu{
            height: 100%;
            text-align: center;
            margin: 0;
            display: flex;
            align-items: center;
            .item{
                text-align: center;
                width: 9vw;
                float: left;
                margin: 0 10px;
                border-radius: 15px;
                background-color: #fff;
                .itemHashigo, .itemHimo{
                    height: 5vw;

                }
            }
        }
    }
}

//ウサギのゲームページのウサギ

.gameUsagi{
    width: 100vw;
    height: 100vh;
    position: relative;
    background: url('~/img/mori.png') 100% no-repeat;
    background-position: bottom;
    background-size: 130%;
    z-index: -100;
    .usagiGame{
        position: absolute;
        top: 16vh;
        right: 20vw;
        width: 30vw;
    }

}